<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>332516800902-h9jtso36t9332kje8msd738ltukh5ogk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332516800902-h9jtso36t9332kje8msd738ltukh5ogk</string>
	<key>API_KEY</key>
	<string>AIzaSyB4RhANx2s-boQMxdb98w8m98NQBv-L_8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>332516800902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tiffintom.silsilaapp</string>
	<key>PROJECT_ID</key>
	<string>tiffin-tom-cust-app</string>
	<key>STORAGE_BUCKET</key>
	<string>tiffin-tom-cust-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332516800902:ios:e49ab1871c5c9ba2</string>
	<key>DATABASE_URL</key>
	<string>https://tiffin-tom-cust-app.firebaseio.com</string>
</dict>
</plist>